/*header*/

header {
	position: fixed;
	width: 100%;
	z-index: 2;
	margin: 0 auto;
	padding-top: 10px;
	padding-left: 50px;
	padding-bottom: 0px;
	padding-right: 50px;
	background-color: white;
}
header .navbar-brand {
	text-decoration: none;
	color: grey;
}
header .navbar-nav li a {
	text-decoration: none;
	color: grey;
}
/*inicio*/
.chicas {
	background-image: url(../img/home.jpg);
	background-size: cover;
	border-radius: 0px;
	margin: 0;
	margin-top: 80px;
	padding: 150px 30px;
}
.chicas h1 {
	font-size: 40px !important;
	color: white !important;
}
.chicas p {
	font-size: 15px;
}
.chicas button {
	align: center;
	margin: 10px auto;
}
/*documental*/
.documental {
	padding-top: 100px;
	padding-bottom: 50px;
}
.documental h2 {
	margin-bottom: 40px;
}
.documental h3 {
	margin: 20px auto;
}
.documental p {
	margin: 20px 50px;
}
.documental iframe {
	margin: 5%;
}
/*hackaton*/
.hackaton {
	background-color: yellow;
	padding: 50px;
	padding-right: 20px;
}
.hackaton h2 {
	margin: 40px;
}
.hackaton p {
	margin: 20px 50px 20px 0;
}
/*contacto*/
.contacto {
	padding: 50px;
}
.contacto h2 {
	margin: 20px;
}
.contacto p {
	margin: 0;
}
.negrita {
	font-weight: bold;
}
form {
	margin: 20px auto;
}
form button {
	margin-top: 10px;
}
/*footer*/
footer {
	background-color: rgb(68, 151, 163);
	padding: 30px 50px !important;
}
footer p {
	color: white;
}
footer a {
	text-decoration: none;
	color: yellow;
}
/*---------------------------------*/>
@import url(https://fonts.googleapis.com/css?family=Erica+One);
/* BODY */
body {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;  
  height: 100%;
  background-color: pink;
 
  background-attachment: fixed;
  background-size: 100% 100%;
  overflow: hidden;
}
::selection {
  background: transparent;
}

h1 {
  cursor: default;
 
  top: 30px;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  margin: auto;
  display: block;
  
  -webkit-animation: bounce .3s ease infinite alternate;
  
  font-family: 'Erica One', cursive;
  font-size: 80px;
  color: #FFF;
  text-align: center;
  line-height: 100px;
  text-shadow: 0 1px 0 #CCC,
               0 2px 0 #CCC,
               0 3px 0 #CCC,
               0 4px 0 #CCC,
               0 5px 0 #CCC,
               0 6px 0 transparent,
               0 7px 0 transparent,
               0 8px 0 transparent,
               0 9px 0 transparent,
               0 10px 10px rgba(0, 0, 0, .6);
}
/* ANIMATION */
@-webkit-keyframes bounce {
  100% {
    top: -30px;
    
    text-shadow: 0 1px 0 #CCC,
                 0 2px 0 #CCC,
                 0 3px 0 #CCC,
                 0 4px 0 #CCC,
                 0 5px 0 #CCC,
                 0 6px 0 #CCC,
                 0 7px 0 #CCC,
                 0 8px 0 #CCC,
                 0 9px 0 #CCC,
                 0 30px 30px rgba(0, 0, 0, .3);
  }
}